* {
    box-sizing: border-box;
}

.footer {
background-color:#062424;
min-height: 30vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 147px 89px;
}
@media(min-width: 769px){
    .footer {
        min-height: 20vh;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
}

.footer__imagen-logo {
margin:0;
}

.footer__cont-redes {
width: 150px;
height: 100px;
}
@media(min-width:769px){
    .footer__cont-redes {
        display: inline-block;
        flex-direction:column;
        align-items: center;
        justify-content: left;
        margin:0;
    }
}

.footer__title {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
margin-top:5px;
padding: 0;
display: inline-block;
text-align: center;
color: white;
}

.footer__imagen-instagram {
width: 27px;
height: 27px;
vertical-align:middle;
}

.footer__imagen-linkedin {
width: 27px;
height: 27px;
vertical-align:middle;
}

.footer__imagen-github {
width: 27px;
height: 27px;
vertical-align: middle;
}