*  {
    box-sizing: border-box;
}

.title-service {
font-family: "Montserrat";
font-size: 48px;
font-weight: 700;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-color: none;
margin:0;
padding:60px 0;
background-color: #062424;
color: #F4F4F4;
}
 @media(min-width:769px){
    .title-service {
        height: 100px;
        text-align: center;
  }
}

.section-three {
height: 1200px;
width: 100%;
margin:0;
padding:0;
background-color:#f4f4f4;
background-image:url("../img/fondo\ \(1\).png");
background-attachment:fixed;
background-image: no-repeat;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: grid;
align-items: center;
justify-content: center;
gap: 10px;
border: double 3px #062424;
border-radius:5px;
}
@media(min-width: 769px){
    .section-three {
        height: 604px;
        display: flex;
    }
}

.title-sec-three {
font-family: "Montserrat";
font-size: 32px;
font-weight: 700;
text-align: center;
margin: 0;
padding: 0;
}

.container-service {
    margin:0;
}
@media(min-width: 769px){
    .container-service {
     height:450px;
     flex-grow:1;
     flex-wrap: wrap;
 }
}

.img-sec-tres {
display: flex;
align-items: center;
justify-content: center;
margin:0;
padding:0;
}


.imagen {
max-width: 290px;
max-height: 170px;
}

.title-serv-tecnico {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin:0;
}

.parrafo-serv-tec {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-serv-tec {
        padding: 0;
    }
}

.imagen-aparatos-aud{
max-width: 290px;
max-height: 170px;
}

.title-proveedor {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin: 0;
}

.parrafo-aparatos {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-aparatos{
        padding: 0;
    }
}

.imagen-accesorios {
max-width: 290px;
max-height: 170px;
}

.title-accesorios {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin: 0;
}

.parrafo-accesorios {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-accesorios {
        padding: 0;
    }
}