* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat";
}

.header {
    height:100px;
    width: 100%;
    background-image: url("../img/fondo.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width: 960px){
    .header {
        height: 180px;
        background-size: 100% 100%;
    }
}

.header__nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 10px;
margin: 0;
}
@media(min-width: 960px){
    .header__nav {
    padding:0 20px;
    }
}

.header__nav-logo {

}

.header__img-logo {
    width: 122px;
    display: flex;
    align-items: center;
    margin: 0;
}
@media(min-width: 960px){
  .header__img-logo {
      width: 197px;
  }
}

.header__open-menu, 
.header__close-menu {
border: none;
background: none;
display: block;
cursor: pointer;
}
@media(min-width: 960px){
    .header__open-menu, 
    .header__close-menu {
        display: none;
    }
}

.header__open {
}
@media(min-width: 960px){
    .header__open {
        display: none;
    }
}

.header__close-menu {
    align-self: flex-end;
    padding: 40px 0px;
    position:absolute;
    left: 50;
    top: 0;
    bottom: 50;
    right: 0;
   width: 50px;
}

.header__close {
 background-color: #062424;   
}

.header__open {
width: 36px;
}

.header__menu {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
left: 0;
top: 0;
width: 100%;
align-items: center;
background-color:#062424;
height: 667px;
opacity: 0;
font-family: "Montserrat";
font-size: 48px;
font-weight: 700;
list-style: none;
margin: 0;
padding: 0;
pointer-events: none;
transition: 0.3s;
}
@media(min-width: 960px){
    .header__menu {
    flex-direction: row;
    height: 200px;
    justify-content:flex-end;
    padding: 0 40px;
    padding: 0;
    opacity: 1;    
    background:none;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    pointer-events: all;
    color:#062424;
    position: relative;
}
}

.header__menu li {
    padding: 0;
    margin-top: 30px;
}
@media(min-width: 960px){
    .header__menu li {
        padding: 0 20px;
    }
}

a {
    text-decoration: none;
    color:#335940;
}

.header__menu a:hover {
    background-color:#DBA4A4;
    border-radius: 5px;
}

.header__menu-opened {
    opacity: 1;
    pointer-events: all;
}


.header__open-menu:focus:not(:focus-visible), 
.header__close-menu:focus:not(:focus-visible){
    outline: none;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.cont-sec-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 200px 0;
    margin: 0;
}
@media(min-width: 960px){
    .cont-sec-one {
        padding:100px 0;
    }
}

.title-main {
    font-family:"Montserrat"; 
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #062424;
    margin: 0;
    padding: 0;
}


.text-main {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #062424;
    margin-top: 11px;
    padding: 0;
}


.title-service {
font-family: "Montserrat";
font-size: 48px;
font-weight: 700;
text-align: center;
background-color: none;
margin:0;
padding:30px 0;
background-image: url("../img/fondo.png");
}
@media(min-width:960px){
    .title-service {
        padding:0 30px;
        text-align: left;
        height: 400px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.section-three {
    height: 1375px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo.png");
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(min-width: 960px){
    .section-three {
        height: 604px;
    }
}

.title-sec-three {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subcontenedor-sec-tres {
    display: grid;
    grid-template-rows: 40% 40% 40%;
    gap:20px;
    justify-content: center;
    align-items: center;
}
@media(min-width: 960px){
    .subcontenedor-sec-tres {
        display: flex;
 }
}

.img-sec-tres {
}
@media(min-width: 960px){
    .img-sec-tres {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.imagen-serv {
    width: 138px;
    max-height: 128px;
    margin-left: 118px;
}
@media(min-width: 960px){
    .imagen-serv {
        margin:0;
        padding: 0;
    }
}

.title-serv-tecnico {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin:0;
}

.parrafo-serv-tec {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 56px;
    margin: 0;
}

.imagen-aparatos-aud {
width: 138px;
height: 128px;
margin-left: 118px;
}
@media(min-width: 960px){
    .imagen-aparatos-aud {
    margin: 0;
    padding: 0;
    }
}

.title-proveedor {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.parrafo-aparatos {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 56px;
    margin: 0;
}

.imagen-accesorios {
    width: 138px;
    height: 128px;
    margin-left: 118px;
}
@media(min-width: 960px){
    .imagen-accesorios {
        margin:0;
        padding: 0;
    }
}

.title-accesorios {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.parrafo-accesorios {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 56px;
    margin: 0;
}


.footer {
    background-color:#062424;
    height: 498px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 147px 89px;
}
@media(min-width: 960px){
    .footer {
        height: 346px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 80px;
    }
}

.footer__cont-redes {
    width: 150px;
    height: 250px;
}
@media(min-width:960px){
    .footer__cont-redes {
        margin-top: 100px;
    }
}

.footer__title {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
margin-top:5px;
padding: 0;
display: inline-block;
text-align: center;
color: white;
}
@media(min-width: 960px){
    .footer__title {
     justify-content: left;
    }
}

.footer__imagen-instagram {
width: 27px;
height: 27px;
vertical-align:middle;
}
@media(min-width: 960px){

}

.footer__imagen-linkedin {
width: 27px;
height: 27px;
vertical-align:middle;
}

.footer__imagen-github {
width: 27px;
height: 27px;
vertical-align: middle;
}