* {
    box-sizing: border-box;
}

body {
margin: 0;
font-family: "Montserrat";
}

.header {
height:100px;
width: 100%;
background-image:url("../img/fondo\ \(1\).png");
    background-attachment:fixed;
    background-image: no-repeat;
    background-image: center;
    /*background-size: cover;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
margin:0;
padding:0;
}
@media(min-width: 769px){
    .header {
        height: 180px;
        background-size: 100% 100%;
    }
}

.header__nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 10px;
margin: 0;
}
@media(min-width: 769px){
    .header__nav {
    }
}

.header__nav-logo {}

.header__img-logo {
width: 122px;
display: flex;
align-items: center;
margin: 0;
}
@media(min-width: 769px){
  .header__img-logo {
      width: 197px;
  }
}

.header__open-menu, 
.header__close-menu {
border: none;
background: none;
display: block;
cursor: pointer;
}
@media(min-width: 769px){
    .header__open-menu, 
    .header__close-menu {
        display: none;
    }
}

.header__open {}
@media(min-width: 769px){
    .header__open {
        display: none;
    }
}

.header__close-menu {
align-self: flex-end;
padding: 40px 0px;
position:absolute;
left: 50;
top: 0;
bottom: 50;
right: 0;
width: 50px;
}

.header__close {
background-color: #062424;   
}

.header__open {
width: 36px;
}

.header__menu {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
left: 0;
top: 0;
width: 100%;
background-color:#062424;
height: 667px;
opacity: 0;
font-family: "Montserrat";
font-size: 48px;
font-weight: 700;
list-style: none;
margin: 0;
padding: 0;
pointer-events: none;
transition: 0.3s;
}
@media(min-width: 769px){
    .header__menu {
    flex-direction: row;
    height: 200px;
    justify-content:flex-end;
    opacity: 1;    
    background:none;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    pointer-events: all;
    color:#062424;
    position: relative;
 }
}

.header__menu li {
padding: 0;
margin-top: 30px;
}
@media(min-width: 769px){
    .header__menu li {
        padding: 0 20px;
        margin:0;
    }
}

a {
text-decoration: none;
color:#335940;
}

.header__menu a:hover {
background-color:#DBA4A4;
border-radius: 5px;
}

.header__menu-opened {
opacity: 1;
pointer-events: all;
}

.header__open-menu:focus:not(:focus-visible), 
.header__close-menu:focus:not(:focus-visible){
outline: none;
}

.section {
display: flex;
justify-content: space-between;
flex-direction: row-reverse;
}

.cont-sec-one {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 200px 0;
margin: 0;
}
@media(min-width: 769px){
    .cont-sec-one {
        padding:100px 0;
    }
}

.title-main {
font-family:"Montserrat"; 
font-size: 48px;
font-weight: 700;
text-align: center;
color: #062424;
margin: 0;
padding: 0;
}

.text-main {
font-family: "Montserrat";
font-size: 32px;
font-weight: 700;
text-align: center;
color: #062424;
margin-top: 11px;
padding: 0;
}

.title-service {
font-family: "Montserrat";
font-size: 48px;
font-weight: 700;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-color: none;
margin:0;
padding:60px 0;
background-color: #062424;
color: #F4F4F4;
}
@media(min-width:769px){
    .title-service {
        height: 100px;
        text-align: center;
    }
}

.section-three {
height: 1200px;
width: 100%;
margin:0;
padding:0;
background-color:#f4f4f4;
background-image:url("../img/fondo\ \(1\).png");
background-attachment:fixed;
background-image: no-repeat;
background-image: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: grid;
align-items: center;
justify-content: center;
gap: 10px;
border: double 3px #062424;
border-radius:5px;
}
@media(min-width: 769px){
    .section-three {
        height: 604px;
        display: flex;
    }
}

.title-sec-three {
font-family: "Montserrat";
font-size: 32px;
font-weight: 700;
text-align: center;
margin: 0;
padding: 0;
}

.container-service {
    margin:0;
}
@media(min-width: 769px){
    .container-service {
     height:450px;
     flex-grow:1;
     flex-wrap: wrap;
 }
}

.img-sec-tres {
display: flex;
align-items: center;
justify-content: center;
margin:0;
padding:0;
}

.imagen {
max-width: 290px;
max-height: 170px;
}

.title-serv-tecnico {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin:0;
}

.parrafo-serv-tec {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-sev-tec {
        padding:0;
    }
}

.imagen-aparatos-aud{
max-width: 290px;
max-height: 170px;
}

.title-proveedor {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin: 0;
}

.parrafo-aparatos {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-aparatos {
        padding:0;
    }
}

.imagen-accesorios {
max-width: 290px;
max-height: 170px;
}

.title-accesorios {
font-family: "Poppins";
font-size: 24px;
font-weight: 700;
text-align: center;
margin: 0;
}

.parrafo-accesorios {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
text-align: center;
padding: 0 56px;
margin: 0;
}
@media(min-width: 769px){
    .parrafo-accesorios {
        padding:0;
    }
}

.footer {
background-color:#062424;
min-height: 10vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 147px 89px;
}
@media(min-width: 769px){
    .footer {
        min-height: 20vh;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
}

.footer__imagen-logo {
margin:0;
}

.footer__cont-redes {
width: 150px;
height: 100px;
}
@media(min-width:769px){
    .footer__cont-redes {
        display: inline-block;
        flex-direction:column;
        align-items: center;
        justify-content: left;
        margin:0;
    }
}

.footer__title {
font-family: "Poppins";
font-size: 16px;
font-weight: 400;
margin-top:5px;
padding: 0;
display: inline-block;
text-align: center;
color: white;
}

.footer__imagen-instagram {
width: 27px;
height: 27px;
vertical-align:middle;
}

.footer__imagen-linkedin {
width: 27px;
height: 27px;
vertical-align:middle;
}

.footer__imagen-github {
width: 27px;
height: 27px;
vertical-align: middle;
}